include templates/header
include templates/navbar

.container.mt-5
  .row
    .col-2
    .col-8
        each val in items
            .row.mb-3.pol
                .col-10
                    span Poliza ##{val}
                .col-2
                    a(href="/polizas/" + val)
                        button.btn Ver
    .col-2
          
style.
    .pol {
        border-bottom: 2px solid grey;
    }

    .pol span {
        font-size: 33px;
    }

include templates/footer